# Emacs
*~
*#
.#*
.ensime
.ensime_cache
TAGS
.tern-port
.dir-locals.el

dev/

/.idea/
/.idea_modules/
/project/boot/
/project/plugins/project
/project/target/**
/project/project/target/**
target/
**/target/**
lib_managed/
src_managed/
test-output/
*.iml
.classpath_nb

#sbt
.history
.bsp

#logs
import.log

